//colors
$color_mine_shaft_approx: #252525;
$color_lonestar_approx: #750000;
$color_jordy_blue_approx: #6cb2eb;
$color_malibu_approx: #5fbcff;
$color_mercury_approx: #e9e9e9;
$red:  red;
$white: white;
$black_20: rgba(0, 0, 0, 0.2);
$black_19: rgba(0, 0, 0, 0.19);
$color_lonestar_approx: #750000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
