.main-menu {
	display: inline-block;
	float: right;
	padding-top: 5px;
	ul {
		list-style: none;
		li {
			display: inline;
			a {
				display: inline-block;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 13px;
				// color: $color_mine_shaft_approx;
				margin-left: 20px;
				padding: 10px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.4s;
				&:hover {
					color: $primary
				}
			}
			&.active a {
				color: $primary
			}
		}
	}
}

.top-nav-section {
	background-color: $primary;
	padding: 15px 0;
	.social {
		display: inline-block;
		margin-top: 10px;
		a {
			color: $white;
			margin-right: 30px;
		}
	}
}